{% extends "skeleton.html" %}
{% block title %}
{{ site_title }}
{% endblock %}
{% block location %}
{% endblock %}
{% block content %}
<p>
{{ about.body | replace('\n', '<br><br>')}}
</p>
{% endblock %}

